<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mine.class_schedule">
    <!-- 電源オン検知 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- For Overlay -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="INTERNAL_SYSTEM_WINDOW" /> <!-- For Overlay over API 28 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- For Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar">
        <activity
            android:name=".View.EditClassFromOutsideActivity"
            android:label="URLの取得" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="hogehoge-scheme"
                    android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".View.EditClassActivity" />

        <receiver
            android:name=".Receiver.ButtonClickedReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.ScreenOffReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Service.LayerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.OverlayService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.AlertService"
            android:exported="false" /> <!-- <service android:name=".LockScreenStateReceiver"/> -->
        <!-- <receiver -->
        <!-- android:name=".PackageReplacedReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
        <activity
            android:name=".View.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver.PackageReplacedReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.mine.class_schedule"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>